<h1 align = "center">Quantconnect Introduction to Financial Python</h1>
<h2 align = "center">Gian Emanuel Morales Gonzalez</h2>
<h2 align = "center">Algorithms 2021-2</h2>

#**1. Data Types and Data Structures**

## **Introduction**

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

## **Basic Variable Types**
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
#Ejemplo quantconnect
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
#ejemplo propio
my_string1 = 'Gian: Este'
my_string2 = "es mi ejemplo :v"
print(my_string1 + ' ' + my_string2)

Gian: Este es mi ejemplo :v

An integer is a round number with no values after the decimal point.

In [ ]:
#Ejemplo quantconnect
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
#Ejemplo propio
my_int = 2389
print(my_int)
print(type(my_int))

2389
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
#Ejemplo quantconnect
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
#Ejemplo propio
my_string = "102"
print(type(my_string))

my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float.

In [ ]:
#Ejemplo quantconnect
my_float = 1.0
print(type(my_float))

my_int = 1
print(type(my_int))

<class 'float'>
<class 'int'>

In [ ]:
#Ejemplo propio
my_float = 4.487
print(type(my_float))

my_int = 4
print(type(my_int))

<class 'float'>
<class 'int'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
#Ejemplo quantconnect
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
#Ejemplo propio
my_string = "8"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
#Ejemplo quantconnect
my_bool = False
print(my_bool)

print(type(my_bool))

False
<class 'bool'>

In [ ]:
#ejemplo propio
my_bool = True
print(my_bool)

print(type(my_bool))

False
<class 'bool'>

## **Basic Math Operations**
The basic math operators in python are demonstrated below:

In [ ]:
#Ejemplo quantconnect
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division", 10/2)
print("exponent", 2**3)

In [ ]:
#ejemplo propio
print("Addition ", 752+8)
print("Subtraction ", 55-200)
print("Multiplication ", 42*43)
print("Division", 48/35)
print("exponent", 5**4)

Addition  760
Subtraction  -145
Multiplication  1806
Division 1.3714285714285714
exponent 625

## **Data Collections**
### **_List_**
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
#Ejemplo quantconnect
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
#ejemplo propio
my_list = ['Gian', 'Algoritmos', 2021,2,3.14]
print(my_list)

['Gian', 'Algoritmos', 2021, 2, 3.14]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
#Ejemplo quantconnet
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))

print(my_list[0])

print(my_list[len(my_list) - 1])

5
Quant
3

In [ ]:
#ejemplo propio
my_list = ['Gian', 'Algoritmos', 2021,2,3.14,'UNAL',':)']
print(len(my_list))

print(my_list[1])

print(my_list[len(my_list) - 3])

7
Algoritmos
3.14

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
#Ejemplo quantconnect
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
#Ejemplo propio
my_list = ['Gian', 'Algoritmos', 2021,2,3.14,'UNAL',':)']
my_list[1] = 'Morales'
my_list[6] = 2389
print(my_list)

['Gian', 'Morales', 2021, 2, 3.14, 'UNAL', 2389]

A list can also be sliced with a colon:

In [ ]:
#Ejemplo quantconnect
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
#Ejemplo propio
my_list = ['Gian', 'Algoritmos', 2021,2,'inter exclu',':)']
print(my_list[0:4])

['Gian', 'Algoritmos', 2021, 2]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
#Ejemplo quantconnect
print(my_list[1:])

['Algoritmos', 2021, 2, 'inter exclu', ':)']

In [ ]:
#Ejemplo propio
print(my_list[3:])

[2, 'inter exclu', ':)']

And all elements up to but excluding index 3:

In [ ]:
#Ejemplo quantconnect
print(my_list[:3])

['Gian', 'Algoritmos', 2021]

In [ ]:
#ejemplo propio
print(my_list[:2])

['Gian', 'Algoritmos']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
#Ejemplo quantconnect
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

my_list.remove('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']
['Quant', 'Hello']

In [ ]:
#ejemplo propio
my_list = ['Hola', 'Compañeros']
my_list.append('Como')
my_list.append('estan')
print(my_list)

my_list.remove('Compañeros')
print(my_list)

['Hola', 'Compañeros', 'Como', 'estan']
['Hola', 'Como', 'estan']

When there are repeated instances of "Hello", the first one is removed.

### **_Tuple_**
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
#Ejemplo quantconnect
my_tuple = ('Welcome','to','QuantConnect')

In [ ]:
#Ejemplo propio
my_tuple = ('Bienvenido','ª','Algoritmos')

Just like a list, a tuple can be sliced by using index.

In [ ]:
#Ejemplo quantconnect
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
#Ejemplo propio
my_tuple = ('Bienvenido','ª','Algoritmos')
print(my_tuple[1:])

('ª', 'Algoritmos')

### **_Set_**
A set is an **_unordered_** collection with **_no duplicate_** elements. The built-in function set() can be used to create sets.

In [ ]:
#Ejemplo quantconnect
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'F', 'GOOG', 'AAPL', 'IBM'}

In [ ]:
#Ejemplo propio
stock_list = ['Algoritmos','UNAL','Gian','Morales','UNAL','Algoritmos','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'Algoritmos', 'Gian', 'F', 'GOOG', 'UNAL', 'Morales'}

***Set is an easy way to remove duplicate elements from a list.***

### **_Dictionary_**
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **_unordered_** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
#Ejemplo quantconnect
my_dic_q = {'AAPL': 'Apple', 'FB': 'FaceBook', 'GOOG': 'Alphabet'}

In [ ]:
#Ejemplo propio
my_dic_p = {'ALG':'Algoritmos', 'GEMG':'Gian', '3165000':'UNAL'}

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
#Ejemplo quantconnect
print(my_dic_q['GOOG'])

Alphabet

In [ ]:
#Ejemplo propio
print(my_dic_p['3165000'])

UNAL

We can also change the value associated with a specified key:

In [ ]:
#Ejemplo quantconnect
my_dic_q['GOOG'] = 'Alphabet Company'
print(my_dic_q['GOOG'])

Alphabet Company

In [ ]:
#Ejemplo propio
my_dic_p['ALG'] = 'unalAlgoritmos'
print(my_dic_p['ALG'])

unalAlgoritmos

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

In [ ]:
#Ejemplo quantconnect
print(my_dic_q.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
#Ejemplo propio
print(my_dic_p.keys())

dict_keys(['ALG', 'GEMG', '3165000'])

## **Common String Operations** ##
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
#Ejemplo quantconnect
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
#Ejemplo propio
my_str = 'UNAL Algoritmos 2021'
print(my_str[4:])

 Algoritmos 2021

There are many methods associated with strings. We can use **_string.count()_** to count the occurrences of a character in a string, use **_string.find()_** to return the index of a specific character, and use **_string.replace()_** to replace characters.

In [ ]:
#Ejemplo quantconnect
print("Counting the number of e's in this sentence".count('e'))

print('The first time e appears in this sentence'.find('e'))

print('all the a in this sentence now becomes e'.replace('a','e'))

6
2
ell the e in this sentence now becomes e

In [ ]:
#ejemplo propio
print("Pedro Perez Pereira pobre pintor portugues".count('p'))

print('pinta Preciosos paisaje '.find('P'))

print('Para poder partir para Paris'.replace('p','l'))

3
6
Para loder lartir lara Paris

The most commonly used method for strings is **_string.split()_**. This method will split the string by the indicated character and return a list:

In [ ]:
#Ejemplo quantconnect 
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)

hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
#ejemplo propio
Time = '2016-12-25 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)

minute = time.split(':')[1]
mes = date.split('-')[1]
dia = date.split('-')[2]
print(minute, mes, dia)

2016-12-25 09:43:00
43 12 25

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
#Ejemplo quantconnect
my_time = 'Hour: {}, Minute: {}'.format(9, 43)
print(my_time)

Hour: 9, Minute: 43

In [ ]:
#ejemplo propio
my_date = 'year: {}, mes: {}, dia: {}'.format(2021, 'oct', 16)
print(my_date)

year: 2021, mes: oct, dia: 16

Another way to format a string is to use the % symbol.

In [ ]:
#Ejemplo quantconnect
print('pi is %f' % 3.14)

print('%s to %s' % ('Welcome', 'QuantConnect'))

pi is 3.140000
Welcome to QuantConnect

In [ ]:
#ejemplo propio
print('la suma de e y pi es %f' % 5.8598)

print('%s a la clase de %s' % ('Bienvenido', 'Algoritmos'))

la suma de e y pi es 5.859800
Bienvenido a la clase de Algoritmos

%s is a placeholder that takes in a string. Similarly %f takes a float and %d takes an integer.

### **Summary**
We have seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

#**2. Logical Operations and Loops**
## **Introduction**
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

## **Logical Operations**
Like most programming languages, Python has comparison operators:

In [ ]:
#Ejemplo quantconnect
print(1 == 0)    # 1 equals 0
print(1 == 1)    # 1 equals 1
print(1 != 0)   # 1 is not equal to 0
print(5 >= 5)    # 5 is greater than or equal to 5
print(5 >= 6)    # 5 is greater than or equal to 6

False
True
True
True
False

In [ ]:
#ejemplo propio
print(1 == 1)    
print("d" == "s") 
print(1 != 0)    
print(8 >= 1)    
print('s' < 'a')

True
False
True
True
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

* The statement **"P and Q"** is true if both P and Q are true, otherwise it is false.
* The statement **"P or Q"** is false if both P and Q are false, otherwise it is true.
* The statement **"not P"** is true if P is false, and vice versa.

In [ ]:
#Ejemplo quantconnect
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2)
print(2 > 1 or  3 < 2)
print(2 < 1 and 3 < 2)

True
True
True
False

In [ ]:
#ejemplo propio
print('a' > 'A' and 8 > 7)
print(52 >= 52 and 45 < 68)
print(554 <= 74 or  'M' < 'v')
print(3.54 < 3.55 and 1 < 7)

True
True
True
True

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
#Ejemplo quantconnect
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not (3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not (3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
#ejemplo propio
print(9 > 2 or (1 < 3 and 1!=3 and 4>3) and not (3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3 and not (5 < 5 or 1 < 3) and 3!=3) and 4>3)

True
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

## **If Statement**
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.


```
if condition1:
    # if condition1 is true, execute the code here
    # and ignore the rest of this if statement
elif condition2:
    # if condition1 is false, and condition2 is true, execute the code here
    # and ignore the rest of this if statement
else:
    # if none of the above conditions is True, execute the code here
```
An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
#Ejemplo quantconnect
i = 0
if i == 0: print('i == 0 is True')

i == 0 is True

In [ ]:
#ejemplo propio
i = 'truth'
if i == 'truth': print('i es verdad')

i es verdad

As we mentioned above, we can write some complex statements here:

In [ ]:
#Ejemplo quantconnect
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [ ]:
#ejemplo propio
p = 8 > 8
q = 1 >= 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

None of p and q is true

## **Loop Structure**
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

### **_While Loop_**
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
#Ejemplo quantconnect
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
#Ejemplo propio
i = 5
while i >= 0:
    print(i)
    i -= 1

5
4
3
2
1
0

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

### **_For Loop_**
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
#Ejemplo quantconnect
for x in [1,2,3,4,5]: print(x)

1
2
3
4
5

In [ ]:
#Ejemplo propio
for x in range(6): print(x)

0
1
2
3
4
5

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
#Ejemplo quantconnect
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for stock in stocks:
    if stock not in selected:
        new_list.append(stock)
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
#ejemplo propio
numbers = [4,5,6,7,6,8,1,9,5]
selected_numbers = [5,1]
new_num_list = []
for number in numbers:
    if number not in selected_numbers:
        new_num_list.append(number)
print(numbers)
print(new_num_list)

[4, 5, 6, 7, 6, 8, 1, 9, 5]
[4, 6, 7, 6, 8, 9]

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

### **_Break and continue_**
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
#Ejemplo quantconnect
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    print(stock)
    if stock == 'FB': break

In [ ]:
#Ejemplo propio
numbers = [4,5,5,6,6,4,0,9,6,5,5]
for number in numbers:
    print(number)
    if number == 0:
      break

4
5
5
6
6
4
0

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
#Ejemplo quantconnect
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for stock in stocks:
    if stock == 'FB': continue
    print(stock)

AAPL
GOOG
IBM
F
V
G
GE

In [ ]:
#Ejemplo propio
numbers = [4,5,5,6,6,4,0,9,6,5,5]
for number in numbers:
    if number == 0: 
      continue
    print(number)

4
5
5
6
6
4
9
6
5
5

## **list Comprehension**
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
#Ejemplo quantconnect
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
#Ejemplo propio
abc = []
for i in ['a','b','c','d','e','f']:
    abc.append(i*3)
print(abc)

['aaa', 'bbb', 'ccc', 'ddd', 'eee', 'fff']

Using list comprehension:

In [ ]:
#Ejemplo quantconnect
foo = [1,2,3,4,5]
squares = [x**2 for x in foo]
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
#Ejemplo propio
until_f = ['a','b','c','d','e','f']
abc = [x*3 for x in until_f]
print(abc)

['aaa', 'bbb', 'ccc', 'ddd', 'eee', 'fff']

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
#Ejemplo quantconnect
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x not in selected]
print(new_list)

['GOOG', 'FB', 'F', 'V', 'G', 'GE']

In [ ]:
#ejemplo propio
numbers = [4,5,6,7,6,8,1,9,5]
selected_numbers = [5,1]
new_num_list = [x for x in numbers if x not in selected_numbers]

print(numbers)
print(new_num_list)

[4, 5, 6, 7, 6, 8, 1, 9, 5]
[4, 6, 7, 6, 8, 9]

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
#Ejemplo quantconnect
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x) + ' vs ' + str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x != y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [ ]:
#Ejemplo quantconnect
print([(x, y) for x in ['a','b'] for y in [1,2,3,4,5,6] if x != y])

print([str(x) + ' vs ' + str(y) for x in ['COL','ECU','BRA'] for y in ['CHI','ARG','URU','BRA'] if x != y])

[('a', 1), ('a', 2), ('a', 3), ('a', 4), ('a', 5), ('a', 6), ('b', 1), ('b', 2), ('b', 3), ('b', 4), ('b', 5), ('b', 6)]
['COL vs CHI', 'COL vs ARG', 'COL vs URU', 'COL vs BRA', 'ECU vs CHI', 'ECU vs ARG', 'ECU vs URU', 'ECU vs BRA', 'BRA vs CHI', 'BRA vs ARG', 'BRA vs URU']

List comprehension is an elegant way to organize one or more for loops when creating a list.

### **Summary**
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

# **3. Functions and Objective-Oriented Programming**
## **Introduction**
In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

## **Functions**
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
#Ejemplo quantconnect
def product(x,y):
    return x*y
print(product(2,3))

print(product(5,10))

6
50

In [ ]:
#Ejemplo propio
def suma(x,y):
    return x+y
print(suma(56,44))

print(suma(5,14))

100
19

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
#Ejemplo quantconnect
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [ ]:
#Ejemplo propio
def UNAL_hi():
    print('Universidad Nacional de Colombia')
UNAL_hi()

Universidad Nacional de Colombia

## **Built-in Function**
**_range()_** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
#Ejemplo quantconnect
print(range(10))

print(range(1, 11))

print(range(1, 11, 2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [ ]:
#Ejemplo propio
print(range(15))

print(range(5, 20))

print(range(6, 35, 3))

range(0, 15)
range(5, 20)
range(6, 35, 3)

**_len()_** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
#Ejemplo quantconnect
tickers = ['AAPL', 'GOOGL', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
print("The number of tickers is {}".format(len(tickers)))
for k in range(len(tickers)):
    print(k + 1, tickers[k])

The number of tickers is 8
1 AAPL
2 GOOGL
3 IBM
4 FB
5 F
6 V
7 G
8 GE

In [ ]:
#ejemplo propio
letters = ['a','b','c','d','e','f']
print("The number of letters is {}".format(len(letters)))
for i in range(len(letters)):
    print(i + 1, letters[i])

The number of letters is 6
1 a
2 b
3 c
4 d
5 e
6 f

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**_map()_** is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [ ]:
#Ejemplo quantconnect
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
#ejemplo propio
words = ['ant','bee','cold','dust','exit','fork']
print(list(map(len,words)))

[3, 3, 4, 4, 4, 4]

The **_lambda operator_** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
#Ejemplo quantconnect
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#Ejemplo propio
list(map(lambda x: (x+x)*x, range(10)))

[0, 2, 8, 18, 32, 50, 72, 98, 128, 162]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
#Ejemplo quantconnect
list(map(lambda x, y: x+y, [1,2,3,4,5], [5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [ ]:
#Ejemplo propio
list(map(lambda x, y: x**y, [1,2,3,4,5], [5,4,3,2,1]))

[1, 16, 27, 16, 5]

**_sorted()_** takes a list or set and returns a new sorted list:

In [ ]:
#Ejemplo quantconnect
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [ ]:
#Ejemplo propio
sorted(['i','u','o','e','a'], reverse=True)

['u', 'o', 'i', 'e', 'a']

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
#Ejemplo quantconnect
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69),
 ('WMT', 75.32),
 ('AAPL', 144.09),
 ('FB', 150),
 ('GOOGL', 911.71)]

In [ ]:
#Ejemplo propio
subject_list = [('ALG', 211), ('MUN', 212), ('M&S', 213), ('PHI', 214), ('GGP', 215)]
sorted(subject_list, key = lambda x: x[1])

[('ALG', 211), ('MUN', 212), ('M&S', 213), ('PHI', 214), ('GGP', 215)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
#Ejemplo quantconnect
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
sorted(price_list, key = lambda x: x[1], reverse=True)

In [ ]:
#Ejemplo propio
subject_list = [('ALG', 211), ('MUN', 212), ('M&S', 213), ('PHI', 214), ('GGP', 215)]
sorted(subject_list, key = lambda x: x[1], reverse=True)

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
#Ejemplo quantconnect
price_list = [('AAPL', 144.09), ('GOOGL', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOGL', 911.71)]

In [ ]:
#Ejemplo propio
subject_list = [('ALG', 211), ('MUN', 212), ('M&S', 213), ('PHI', 214), ('GGP', 215)]
subject_list.sort(key=lambda x: x[1])
print(subject_list)

[('ALG', 211), ('MUN', 212), ('M&S', 213), ('PHI', 214), ('GGP', 215)]

## **Object-Oriented Programming**
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

### **_Class_**
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an **_instance_** of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called **_attributes_**, and the functions which are associated with the object are called **_methods_**.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
#Ejemplo quantconnect
class Stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1

    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1

    def print_return(self):
        print(self.rate_return)

In [ ]:
#Ejemplo propio
class Student:
  def __init__(self, ID, name, age):
    self.ID = ID
    self.name = name
    self.age = age
    
  def update_s(self, ID, age):
    self.ID = ID
    self.age = age

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
#Ejemplo quantconnect
apple  = Stock('AAPL', 143.69, 144.09, 20109375)
google = Stock('GOOGL', 898.7, 911.7, 1561616)

In [ ]:
#Ejemplo propio
Juan = Student(123,'Juan Gonzalez', 15)
Juana = Student(321,'Juana Rodriguez', 16)


Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
#Ejemplo quantconnect
apple.ticker

google.print_return()

google.update(912.8, 913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [ ]:
#Ejemplo propio
print(Juan.age)
Juan.update_s(789,19)
print(Juan.age)

15
19


By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods inside a class, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
#Ejemplo quantconnect
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [ ]:
#Ejemplo propio
Juan.address = 'calle falsa 123'
Juan.address

'calle falsa 123'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
#Ejemplo quantconnect
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [ ]:
dir(Juan)

['ID',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'address',
 'age',
 'name',
 'update_s']

### **_Inheritance_**
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
#Ejemplo quantconnect
class Child(Stock):
    def __init__(self, name):
        self.name = name

In [ ]:
#ejemplo propio
class ForeignStudent(Student):
  def __init__(self,country):
    self.country = country

Then we create an object:

In [ ]:
#Ejemplo quantconnect
aa = Child('AA')
print(aa.name)

aa.update(100, 102)
print(aa.open)

print(aa.close)

print(aa.print_return())

AA
100
102
0.020000000000000018
None

In [ ]:
#ejemplo propio
Esteban = ForeignStudent('España')
print(Esteban.country)

Esteban.update_s(109, 18)
print(Esteban.age)
print(Esteban.ID)

España
18
109

As seen above, the new class Child has inherited the methods from Stock.

###**Summary**
In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

# **4. NumPy and Basic Pandas**
## **Introduction**
Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

## **NumPy**
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np


### **_Basic NumPy Arrays_**
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
#Ejemplo quantconnect
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array)

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [ ]:
#Ejemplo propio
cha_list = ['a', '6', '3', 'b', '5', 'v']
cha_array = np.array(cha_list)
print(cha_array, type(cha_array))

['a' '6' '3' 'b' '5' 'v'] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. ***If we pass np.array() a list of lists, it will create a 2-dimensional array.***

In [ ]:
#Ejemplo quantconnect
Ar = np.array([[1,3], [2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [ ]:
#Ejemplo propio
ndarr = np.array([[1,2,3], [4,5,6], [7,8,9]])
print(ndarr, type(ndarr))

[[1 2 3]
 [4 5 6]
 [7 8 9]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
#Ejemplo quantconnect
print(Ar.shape)

(2, 2)

In [ ]:
#Ejemplo propio
print(ndarr.shape)

(3, 3)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
#Ejemplo quantconnect
print(Ar[0])

print(Ar[1])

[1 3]
[2 4]

In [ ]:
#Ejemplo propio
print(ndarr[0])

print(ndarr[2])

[1 2 3]
[7 8 9]

If we want to access the matrix by column instead:

In [ ]:
#Ejemplo quantconnect
print('First column:', Ar[:,0])

print('Second column:', Ar[:,1])

First column: [1 2]
Second column: [3 4]

In [ ]:
#Ejemplo propio
print('second column:', ndarr[:,1])

print('Third column:', ndarr[:,2])

second column: [2 5 8]
Third column: [3 6 9]

### **_Array Functions_**

Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
#Ejemplo quantconnect
np.log(price_array)

array([4.96793654, 4.98244156, 4.9675886 , 4.96995218, 4.96633504,
       4.96018375])

In [ ]:
#Ejemplo propio
np.log(ndarr[1])

array([1.38629436, 1.60943791, 1.79175947])

Other functions return a single value:

In [ ]:
#Ejemplo quantconnect
np.mean(price_array)

print(np.std(price_array))

print(np.sum(price_array))

print(np.max(price_array))

0.9673790478515796
863.38
145.83

In [ ]:
#Ejemplo propio
np.mean(ndarr[2])

print(np.std(ndarr[2])) #standard deviation

print(np.sum(ndarr[2]))

print(np.max(ndarr[2]))

0.816496580927726
24
9

The functions above return the mean, standard deviation, total and maximum value of an array.

## **Pandas**
Pandas is one of the most powerful tools for dealing with financial data. First we need to import Pandas:

In [ ]:
import pandas as pd

### **_Series_**
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
#Ejemplo quantconnect
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print(s)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [ ]:
#Ejemplo propio
num_flo = [1.2, 2.3, 3.4, 4.52, 4.65, 5.67]
se = pd.Series(num_flo)
print(se)

0    1.20
1    2.30
2    3.40
3    4.52
4    4.65
5    5.67
dtype: float64

We can customize the indices of a new Series:

In [ ]:
#Ejemplo quantconnect
s = pd.Series(price, index = ['a', 'b', 'c', 'd', 'e', 'f'])
print(s)

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [ ]:
#Ejemplo propio
se = pd.Series(num_flo, index = [-1, -2, -3, -4, -5, -6])
print(se)

-1    1.20
-2    2.30
-3    3.40
-4    4.52
-5    4.65
-6    5.67
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
#Ejemplo quantconnect
s.index = [6,5,4,3,2,1]
print(s)

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
#Ejemplo propio
se.index = ['*','!','*','!','*','!']
print(se)

*    1.20
!    2.30
*    3.40
!    4.52
*    4.65
!    5.67
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
#Ejemplo quantconnect
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [ ]:
#Ejemplo propio
print(se[2:])
print(se[:-4])

*    3.40
!    4.52
*    4.65
!    5.67
dtype: float64
*    1.2
!    2.3
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
#Ejemplo quantconnect 
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [ ]:
#Ejemplo propio
print(se[4])
se[3] = 20
print(se)

4.65
*     1.20
!     2.30
*     3.40
!    20.00
*     4.65
!     5.67
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
#Ejemplo quantconnect
s = pd.Series(price, name = 'Apple Prices')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Prices, dtype: float64
Apple Prices

In [ ]:
#Ejemplo propio
se = pd.Series(num_flo, name = 'numeros flotantes y entero')
print(se)
print(se.name)

0    1.20
1    2.30
2    3.40
3    4.52
4    4.65
5    5.67
Name: numeros flotantes y entero, dtype: float64
numeros flotantes y entero

We can get the statistical summaries of a Series:

In [ ]:
#Ejemplo quantconnect
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Prices, dtype: float64

In [ ]:
#Ejemplo propio
print(se.describe())

count    6.000000
mean     3.623333
std      1.656535
min      1.200000
25%      2.575000
50%      3.960000
75%      4.617500
max      5.670000
Name: numeros flotantes y entero, dtype: float64

### **_Time Index_**
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
#Ejemplo quantconnect
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Prices, dtype: float64

In [ ]:
#Ejemplo quantconnect
time_index = pd.date_range('2021-10-22', periods = len(se), freq = 'M')#freq = year/month/day 
print(time_index)
se.index = time_index
print(se)

DatetimeIndex(['2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31',
               '2022-02-28', '2022-03-31'],
              dtype='datetime64[ns]', freq='M')
2021-10-31    1.20
2021-11-30    2.30
2021-12-31    3.40
2022-01-31    4.52
2022-02-28    4.65
2022-03-31    5.67
Freq: M, Name: numeros flotantes y entero, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
#Ejemplo quantconnect
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Prices, dtype: float64
142.62

In [ ]:
#Ejemplo propio
se.index = [1,2,3,4,5,6]
print(se)
print(se[1])

1    1.20
2    2.30
3    3.40
4    4.52
5    4.65
6    5.67
Name: numeros flotantes y entero, dtype: float64
1.2

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
#Ejemplo quantconnect
print(s.iloc[1])

145.83

In [ ]:
#Ejemplo propio
print(se.iloc[4])

4.65

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index.

In [ ]:
#Ejemplo quantconnect
s.index = time_index
print(s['2017-01-03'])

143.68

In [ ]:
#Ejemplo propio
se.index = time_index
print(se['2021-12-31'])

3.4

We can even access to a range of dates:

In [ ]:
#Ejemplo quantconnect
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Prices, dtype: float64

In [ ]:
#Ejemplo propio
print(se['2021-11-30':'2022-02-28'])

2021-11-30    2.30
2021-12-31    3.40
2022-01-31    4.52
2022-02-28    4.65
Freq: M, Name: numeros flotantes y entero, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
#Ejemplo quantconnect
print(s[s < np.mean(s)])
print(s[(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Prices, dtype: float64
2017-01-04    144.02
Freq: D, Name: Apple Prices, dtype: float64

In [ ]:
#Ejemplo propio
print(se[se > np.mean(se)])
print(se[(se > np.mean(se)) | (se < np.mean(se) + 1.64*np.std(se))])

2022-01-31    4.52
2022-02-28    4.65
2022-03-31    5.67
Freq: M, Name: numeros flotantes y entero, dtype: float64
2021-10-31    1.20
2021-11-30    2.30
2021-12-31    3.40
2022-01-31    4.52
2022-02-28    4.65
2022-03-31    5.67
Freq: M, Name: numeros flotantes y entero, dtype: float64

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

### **Summary**
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

#**5. Pandas-Resampling and DataFrame**.
##**Introduction**
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

##**Fetching Data**
Here we use the Yahoo Finance to retrieve data.

In [ ]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 11.5 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=97bd03a3df8deb77532c5a3ee78c11f530eb2da83e2ae41d2a052c7bfb9297e9
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [ ]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 170, 'currentPrice': 148.69, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 40, 'targetMeanPrice': 168.89, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.8, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.293, 'beta3Year': None, 'enterpriseToEbitda': 22.821, '52WeekChange': 0.29239464, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58671004, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.33635402, 'priceToBook': 38.30242, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16513139929, 'beta': 1.222222, 'enterpriseValue': 2531665379328, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 7.080052, 'dateShortInterest': 1632960000, 'pegRatio': 1.34, 'ytdReturn': None, 'forwardPE': 26.177818, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 149.48, 'regularMarketOpen': 149.69, 'twoHundredDayAverage': 139.41185, 'trailingAnnualDividendYield': 0.005586032, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 150.18, 'navPrice': None, 'averageDailyVolume10Day': 68348542, 'regularMarketPreviousClose': 149.48, 'fiftyDayAverage': 145.9303, 'trailingAnnualDividendRate': 0.835, 'open': 149.69, 'toCurrency': None, 'averageVolume10days': 68348542, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 148.64, 'currency': 'USD', 'trailingPE': 29.109241, 'regularMarketVolume': 58883443, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2457875513344, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 75838454, 'dayLow': 148.64, 'ask': 148.47, 'askSize': 3200, 'volume': 58883443, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 148.45, 'tradeable': False, 'dividendYield': 0.0058999998, 'bidSize': 2900, 'dayHigh': 150.18, 'regularMarketPrice': 148.69, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655163  24.291439  23.514536  ...  270597600        0.0             0
2016-01-05  24.379043  24.402096  23.609058  ...  223164000        0.0             0
2016-01-06  23.182569  23.599838  23.023501  ...  273829600        0.0             0
2016-01-07  22.749162  23.083437  22.230459  ...  324377600        0.0             0
2016-01-08  22.719199  22.848298  22.306542  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827745  42.004942  41.784645  ...   65397600        0.0             0
2017-12-26  40.898682  41.059116  40.630492  ...  132742000        0.0             0
2017-12-27  40.731058  40.893884  40.637671  ...   85992800        0.0             0
2017-12-28  40.946568  41.150105  40.822051  ...   65920800        0.0             0
2017-12-29  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[503 rows x 7 columns]

In [ ]:
#Ejemplo propio Ecopetrol

ec = yf.Ticker("EC")

# get stock info
print(ec.info)

# get historical market data
tabla_ec = ec.history(start="2018-12-31",  end="2021-01-01")
print(tabla_ec)

{'sector': 'Energy', 'fullTimeEmployees': 13977, 'longBusinessSummary': 'Ecopetrol S.A. operates as an integrated oil and gas company. The company operates through three segments: Exploration and Production; Transport and Logistics; and Refining, Petrochemical and Biofuels. It engages in the exploration, production, and sale of oil and gas; offshore exploration; energy supply services; specialized management services; and distribution of natural gas and LPG activities. It also transports and distributes hydrocarbons and derivative products. As of December 31, 2020, the company had approximately 9,127 kilometers of crude oil and multi-purpose pipelines. In addition, the company manufactures and commercializes polypropylene resins, compounds, and masterbatches; and offers refined and petrochemical products, and biofuels, as well as industrial service sales to customers. It has operations in Colombia, the United States, Asia, Central America and the Caribbean, Europe, South America, and internationally. Ecopetrol S.A. has a strategic alliance with Occidental Petroleum Corporation. The company was formerly known as Empresa Colombiana de PetrÃ³leos and changed its name to Ecopetrol S.A. in June 2003. Ecopetrol S.A. was incorporated in 1948 and is based in BogotÃ¡, Colombia.', 'city': 'BogotÃ¡', 'phone': '57 1 234 4000', 'country': 'Colombia', 'companyOfficers': [], 'website': 'http://www.ecopetrol.com.co', 'maxAge': 1, 'address1': 'Carrera 13 No. 36 - 24', 'fax': '57 1 234 4099', 'industry': 'Oil & Gas Integrated', 'ebitdaMargins': 0.42883, 'profitMargins': 0.13003, 'grossMargins': 0.36821997, 'operatingCashflow': None, 'revenueGrowth': 1.303, 'operatingMargins': 0, 'ebitda': None, 'targetLowPrice': 12, 'recommendationKey': 'buy', 'grossProfits': 13170781000000, 'freeCashflow': None, 'targetMedianPrice': 16.1, 'currentPrice': 15.32, 'earningsGrowth': 150, 'currentRatio': 1.514, 'returnOnAssets': 0.07163, 'numberOfAnalystOpinions': 11, 'targetMeanPrice': 15.45, 'debtToEquity': 79.975, 'returnOnEquity': 0.15821, 'targetHighPrice': 17.5, 'totalCash': None, 'totalDebt': None, 'totalRevenue': None, 'totalCashPerShare': None, 'financialCurrency': 'COP', 'revenuePerShare': None, 'quickRatio': 0.996, 'recommendationMean': 2.4, 'exchange': 'NYQ', 'shortName': 'Ecopetrol S.A.', 'longName': 'Ecopetrol S.A.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'EC', 'messageBoardId': 'finmb_8142536', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': None, 'beta3Year': None, 'enterpriseToEbitda': None, '52WeekChange': 0.6008359, 'morningStarRiskRating': None, 'forwardEps': 1.94, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 2055830016, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 8.82, 'sharesShort': 5956774, 'sharesPercentSharesOut': 0.0029, 'fundFamily': None, 'lastFiscalYearEnd': 1609372800, 'heldPercentInstitutions': 0.01702, 'netIncomeToCommon': None, 'trailingEps': 2.14, 'lastDividendValue': 0.093, 'SandP52WeekChange': 0.33635402, 'priceToBook': 1.7369615, 'heldPercentInsiders': 0, 'nextFiscalYearEnd': 1672444800, 'yield': None, 'mostRecentQuarter': 1625011200, 'shortRatio': 6.7, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 235578102, 'beta': 1.040546, 'enterpriseValue': 31495387136, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': None, 'lastSplitFactor': None, 'legalType': None, 'lastDividendDate': 1618876800, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 147.296, 'priceToSalesTrailing12Months': None, 'dateShortInterest': 1632960000, 'pegRatio': -0.62, 'ytdReturn': None, 'forwardPE': 7.896907, 'lastCapGain': None, 'shortPercentOfFloat': None, 'sharesShortPriorMonth': 5643360, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 15.31, 'regularMarketOpen': 15.32, 'twoHundredDayAverage': 13.426429, 'trailingAnnualDividendYield': 0.0019595034, 'payoutRatio': 0.098000005, 'volume24Hr': None, 'regularMarketDayHigh': 15.385, 'navPrice': None, 'averageDailyVolume10Day': 589114, 'regularMarketPreviousClose': 15.31, 'fiftyDayAverage': 14.385, 'trailingAnnualDividendRate': 0.03, 'open': 15.32, 'toCurrency': None, 'averageVolume10days': 589114, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.09, 'exDividendDate': 1618876800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 15.2, 'currency': 'USD', 'trailingPE': 7.158878, 'regularMarketVolume': 719926, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 31495315456, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 838095, 'dayLow': 15.2, 'ask': 25, 'askSize': 2200, 'volume': 719926, 'fiftyTwoWeekHigh': 15.91, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 8.5, 'bid': 15, 'tradeable': False, 'dividendYield': 0.0061000003, 'bidSize': 1000, 'dayHigh': 15.385, 'regularMarketPrice': 15.32, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/ecopetrol.com.co'}
                 Open       High        Low  ...   Volume  Dividends  Stock Splits
Date                                         ...
2018-12-31  13.339983  13.463501  13.010601  ...   560500        0.0             0
2019-01-02  12.845910  13.652896  12.771799  ...  1087400        0.0             0
2019-01-03  13.636428  13.899933  13.447033  ...  1099200        0.0             0
2019-01-04  13.899932  14.468117  13.866994  ...  1240100        0.0             0
2019-01-07  14.394006  14.739857  14.295192  ...   586500        0.0             0
...               ...        ...        ...  ...      ...        ...           ...
2020-12-24  13.074906  13.074906  12.806855  ...   250300        0.0             0
2020-12-28  12.925990  13.074906  12.777072  ...   630000        0.0             0
2020-12-29  12.995483  13.025267  12.826711  ...   590700        0.0             0
2020-12-30  12.995484  13.233750  12.995484  ...   377600        0.0             0
2020-12-31  12.935916  13.015339  12.727433  ...   602100        0.0             0

[506 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [ ]:
aapl = aapl_table['Close']['2017']
print(aapl)

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787130
2017-01-09    28.041647
                ...
2017-12-22    41.906765
2017-12-26    40.843609
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, Length: 251, dtype: float64

In [ ]:
#Ejemplo propio
ec = tabla_ec['Open']['2020']
print(ec)

Date
2020-01-02    18.302886
2020-01-03    18.702551
2020-01-06    18.620802
2020-01-07    18.457304
2020-01-08    18.402803
                ...
2020-12-24    13.074906
2020-12-28    12.925990
2020-12-29    12.995483
2020-12-30    12.995484
2020-12-31    12.935916
Name: Open, Length: 253, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [ ]:
print(aapl['2017-3'])

Date
2017-03-01    33.086285
2017-03-02    32.889832
2017-03-03    33.083920
2017-03-06    32.979774
2017-03-07    33.022381
2017-03-08    32.899300
2017-03-09    32.823555
2017-03-10    32.932438
2017-03-13    32.946644
2017-03-14    32.896938
2017-03-15    33.244865
2017-03-16    33.299301
2017-03-17    33.133614
2017-03-20    33.481548
2017-03-21    33.098122
2017-03-22    33.472088
2017-03-23    33.353745
2017-03-24    33.287472
2017-03-27    33.344276
2017-03-28    34.035393
2017-03-29    34.111134
2017-03-30    34.066162
2017-03-31    34.002258
Name: Close, dtype: float64

In [ ]:
#Ejemplo propio
print(ec['2020-12'])

Date
2020-12-01    11.694942
2020-12-02    11.953065
2020-12-03    12.062270
2020-12-04    12.310466
2020-12-07    12.717506
2020-12-08    12.558660
2020-12-09    12.727433
2020-12-10    12.777072
2020-12-11    13.422379
2020-12-14    13.501801
2020-12-15    13.243679
2020-12-16    13.412451
2020-12-17    13.730140
2020-12-18    13.680501
2020-12-21    13.144401
2020-12-22    12.925989
2020-12-23    13.055050
2020-12-24    13.074906
2020-12-28    12.925990
2020-12-29    12.995483
2020-12-30    12.995484
2020-12-31    12.935916
Name: Open, dtype: float64

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341722
2017-02-02    30.289881
2017-02-03    30.419498
2017-02-06    30.704649
2017-02-07    30.996870
                ...
2017-04-24    33.997513
2017-04-25    34.208179
2017-04-26    34.006996
2017-04-27    34.033028
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

In [ ]:
#ejemplo propio
ec['2020-3':'2020-6']

Date
2020-03-02    16.177390
2020-03-03    16.240971
2020-03-04    16.186472
2020-03-05    16.177389
2020-03-06    15.841308
                ...
2020-06-24    11.387181
2020-06-25    10.900718
2020-06-26    11.039708
2020-06-29    10.980142
2020-06-30    10.970214
Name: Open, Length: 85, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [ ]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372364
2017-01-04    27.341724
2017-01-05    27.480768
2017-01-06    27.787130
2017-01-09    28.041647
Name: Close, dtype: float64
Date
2017-12-15    41.657749
2017-12-18    42.244404
2017-12-19    41.794220
2017-12-20    41.748734
2017-12-21    41.906765
2017-12-22    41.906765
2017-12-26    40.843609
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, dtype: float64

In [ ]:
#ejemplo propio
print(ec.head(3))
print(ec.tail(20))

Date
2020-01-02    18.302886
2020-01-03    18.702551
2020-01-06    18.620802
Name: Open, dtype: float64
Date
2020-12-03    12.062270
2020-12-04    12.310466
2020-12-07    12.717506
2020-12-08    12.558660
2020-12-09    12.727433
2020-12-10    12.777072
2020-12-11    13.422379
2020-12-14    13.501801
2020-12-15    13.243679
2020-12-16    13.412451
2020-12-17    13.730140
2020-12-18    13.680501
2020-12-21    13.144401
2020-12-22    12.925989
2020-12-23    13.055050
2020-12-24    13.074906
2020-12-28    12.925990
2020-12-29    12.995483
2020-12-30    12.995484
2020-12-31    12.935916
Name: Open, dtype: float64

##**Resampling**
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [ ]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178332
2017-02-28    31.606276
2017-03-31    33.282219
2017-04-30    33.819263
2017-05-31    36.125684
2017-06-30    35.133982
2017-07-31    35.245241
2017-08-31    37.897228
2017-09-30    37.604738
2017-10-31    37.654550
2017-11-30    41.233915
2017-12-31    41.160037
Freq: M, Name: Close, dtype: float64

In [ ]:
#ejemplo propio
by_quarter = ec.resample('Q').mean()
print(by_quarter)

Date
2020-03-31    15.116253
2020-06-30    10.584327
2020-09-30    11.314118
2020-12-31    11.187694
Freq: Q-DEC, Name: Open, dtype: float64

We can also aggregate the data by week:

In [ ]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097736
2017-01-22    28.266114
2017-01-29    28.553981
2017-02-05    29.662543
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
#ejemplo propio
by_year = ec.resample('Y').mean()
print(by_year.head())

Date
2020-12-31    12.032159
Freq: A-DEC, Name: Open, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max()

Date
2017-01-31    28.739214
2017-02-28    32.451969
2017-03-31    34.111134
2017-04-30    34.264977
2017-05-31    37.099129
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129723
2017-09-30    39.141655
2017-10-31    40.332245
2017-11-30    42.050144
2017-12-31    42.244404
Freq: M, Name: Close, dtype: float64

In [ ]:
#ejemplo propio
ec.resample('Q').max()

Date
2020-03-31    19.029552
2020-06-30    13.462091
2020-09-30    12.191332
2020-12-31    13.730140
Freq: Q-DEC, Name: Open, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398286
2017-01-06    27.787130
2017-01-09    28.110777
2017-01-12    28.078175
2017-01-15    28.279665
                ...
2017-12-17    42.019312
2017-12-20    41.854088
2017-12-23          NaN
2017-12-26    40.886706
2017-12-29    40.522732
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172571
2017-02-05    29.108262
2017-02-19    31.516816
2017-03-05    32.595558
2017-03-19    33.017881
2017-04-02    33.625220
2017-04-16    33.849729
2017-04-30    33.791843
2017-05-14    35.697631
2017-05-28    36.496180
2017-06-11    36.515006
2017-06-25    34.529044
2017-07-09    34.265135
2017-07-23    35.278871
2017-08-06    36.272776
2017-08-20    37.904118
2017-09-03    38.458793
2017-09-17    38.282706
2017-10-01    36.840876
2017-10-15    37.071594
2017-10-29    37.757322
2017-11-12    41.032238
2017-11-26    41.204376
2017-12-10    40.867065
2017-12-24    41.620864
2018-01-07    40.795712
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524055
2017-05-31    35.056855
2017-07-31    35.186963
2017-09-30    37.761187
2017-11-30    39.402612
2018-01-31    41.160037
Freq: 2M, Name: Close, dtype: float64

In [ ]:
#ejemplo propio
three_month = ec.resample('3M').mean()
six_month = ec.resample('6M').mean()
five_day = ec.resample('5D').mean()


print(three_month)
print(six_month)
print(five_day )

Date
2020-01-31    18.152795
2020-04-30    12.319835
2020-07-31    11.179628
2020-10-31    10.620879
2021-01-31    11.996795
Freq: 3M, Name: Open, dtype: float64
Date
2020-01-31    18.152795
2020-07-31    11.740682
2021-01-31    11.166053
Freq: 6M, Name: Open, dtype: float64
Date
2020-01-02    18.542080
2020-01-07    18.500449
2020-01-12    18.800197
2020-01-17    18.480011
2020-01-22    18.018276
                ...
2020-12-07    12.840610
2020-12-12    13.385977
2020-12-17    13.518347
2020-12-22    13.018648
2020-12-27    12.963218
Freq: 5D, Name: Open, Length: 73, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203367
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245286
2017-02-05    0.943260
2017-02-12    0.251999
2017-02-19    0.231390
2017-02-26    0.059346
2017-03-05    0.340087
2017-03-12    0.076288
2017-03-19    0.177833
2017-03-26    0.157263
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212477
2017-04-23    0.174677
2017-04-30    0.090028
2017-05-07    0.235640
2017-05-14    0.352978
2017-05-21    0.536095
2017-05-28    0.060395
2017-06-04    0.281222
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264106
2017-07-09    0.158891
2017-07-16    0.404281
2017-07-23    0.124994
2017-07-30    0.384439
2017-08-06    0.924391
2017-08-13    0.467470
2017-08-20    0.435254
2017-08-27    0.275770
2017-09-03    0.251720
2017-09-10    0.381634
2017-09-17    0.294141
2017-09-24    0.735191
2017-10-01    0.354845
2017-10-08    0.204854
2017-10-15    0.118731
2017-10-22    0.516997
2017-10-29    0.680452
2017-11-05    0.560681
2017-11-12    0.190973
2017-11-19    0.436202
2017-11-26    0.563044
2017-12-03    0.427443
2017-12-10    0.073128
2017-12-17    0.205266
2017-12-24    0.194127
2017-12-31    0.190394
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787130
2017-01-15    28.220755
2017-01-22    28.279665
2017-01-29    28.739214
2017-02-05    30.419498
2017-02-12    31.341906
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086285
2017-03-12    33.022381
2017-03-19    33.299301
2017-03-26    33.481548
2017-04-02    34.111134
2017-04-09    34.264977
2017-04-16    33.886288
2017-04-23    33.713505
2017-04-30    34.208179
2017-05-07    35.256691
2017-05-14    37.099129
2017-05-21    37.004074
2017-05-28    36.597660
2017-06-04    36.944649
2017-06-11    36.925629
2017-06-18    34.838955
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266186
2017-07-16    35.421227
2017-07-23    35.891808
2017-07-30    36.471699
2017-08-06    37.346291
2017-08-13    38.277935
2017-08-20    38.557102
2017-08-27    38.170563
2017-09-03    39.141655
2017-09-10    38.671619
2017-09-17    38.533226
2017-09-24    37.872330
2017-10-01    36.798645
2017-10-08    37.075413
2017-10-15    37.457165
2017-10-22    38.287483
2017-10-29    38.903053
2017-11-05    41.157784
2017-11-12    42.050144
2017-11-19    41.657749
2017-11-26    41.897198
2017-12-03    41.686470
2017-12-10    40.659218
2017-12-17    41.657749
2017-12-24    42.244404
2017-12-31    40.965725
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041647
2017-01-22    28.227819
2017-01-29    28.272598
2017-02-05    28.597815
2017-02-12    30.704649
2017-02-19    31.547832
2017-02-26    32.314686
2017-03-05    32.409367
2017-03-12    32.823555
2017-03-19    32.896938
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926510
2017-04-16    33.384514
2017-04-23    33.296925
2017-04-30    33.997513
2017-05-07    34.681541
2017-05-14    36.215275
2017-05-21    35.708801
2017-05-28    36.443172
2017-06-04    36.305336
2017-06-11    35.406967
2017-06-18    33.812256
2017-06-25    34.463451
2017-07-02    34.147366
2017-07-09    33.921577
2017-07-16    34.475327
2017-07-23    35.544807
2017-07-30    35.530563
2017-08-06    35.347549
2017-08-13    37.058708
2017-08-20    37.578850
2017-08-27    37.509647
2017-09-03    38.526089
2017-09-10    37.848473
2017-09-17    37.764946
2017-09-24    36.240337
2017-10-01    35.920612
2017-10-08    36.619698
2017-10-15    37.182781
2017-10-22    37.216190
2017-10-29    37.261520
2017-11-05    39.778706
2017-11-12    41.575333
2017-11-19    40.486813
2017-11-26    40.702324
2017-12-03    40.582596
2017-12-10    40.470055
2017-12-17    41.114189
2017-12-24    41.748734
2017-12-31    40.522732
Freq: W-SUN, Name: Close, dtype: float64

In [ ]:
#ejemplo propio
y_std = ec.resample('Y').std()
m_max = ec.resample('M').max()
fday_min = ec.resample('5D').min()


print(y_std)
print(m_max)
print(fday_min)

Date
2020-12-31    2.919654
Freq: A-DEC, Name: Open, dtype: float64
Date
2020-01-31    19.029552
2020-02-29    18.620803
2020-03-31    16.240971
2020-04-30    11.435898
2020-05-31    10.811369
2020-06-30    13.462091
2020-07-31    12.191332
2020-08-31    11.704870
2020-09-30    11.794220
2020-10-31    10.235557
2020-11-30    12.300538
2020-12-31    13.730140
Freq: M, Name: Open, dtype: float64
Date
2020-01-02    18.302886
2020-01-07    18.402803
2020-01-12    18.675302
2020-01-17    18.384635
2020-01-22    17.821472
                ...
2020-12-07    12.558660
2020-12-12    13.243679
2020-12-17    13.144401
2020-12-22    12.925989
2020-12-27    12.925990
Freq: 5D, Name: Open, Length: 73, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597815
2017-02-28    32.423576
2017-03-31    34.002258
2017-04-30    33.999889
2017-05-31    36.305336
2017-06-30    34.228168
2017-07-31    35.347549
2017-08-31    39.129723
2017-09-30    36.772400
2017-10-31    40.332245
2017-11-30    41.150101
2017-12-31    40.522732
Freq: M, Name: Close, dtype: float64

In [ ]:
#ejemplo propio
my_last_q_day = ec.resample('Q').agg(lambda x: x[-1])
print(my_last_q_day)

Date
2020-03-31     8.547403
2020-06-30    10.970214
2020-09-30     9.759022
2020-12-31    12.935916
Freq: Q-DEC, Name: Open, dtype: float64


Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068614
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [ ]:
#Ejemplo propio
weekly_return = ec.resample('W').agg(lambda x: x[-1]/x[0] - 1)
print(weekly_return)

Date
2020-01-05    0.021836
2020-01-12    0.000976
2020-01-19   -0.012554
2020-01-26   -0.030632
2020-02-02   -0.033438
2020-02-09    0.011333
2020-02-16    0.065811
2020-02-23    0.033540
2020-03-01   -0.124236
2020-03-08   -0.020775
2020-03-15   -0.223704
2020-03-22   -0.181111
2020-03-29    0.332871
2020-04-05    0.148796
2020-04-12    0.101487
2020-04-19   -0.129085
2020-04-26    0.037737
2020-05-03    0.085106
2020-05-10    0.121344
2020-05-17   -0.071090
2020-05-24   -0.005758
2020-05-31   -0.023213
2020-06-07    0.205598
2020-06-14   -0.151180
2020-06-21    0.071625
2020-06-28   -0.006256
2020-07-05    0.028933
2020-07-12   -0.047009
2020-07-19    0.033130
2020-07-26    0.008306
2020-08-02   -0.026689
2020-08-09   -0.009475
2020-08-16    0.006098
2020-08-23   -0.022511
2020-08-30   -0.009641
2020-09-06    0.014580
2020-09-13   -0.033688
2020-09-20    0.003636
2020-09-27   -0.069124
2020-10-04   -0.058532
2020-10-11    0.041414
2020-10-18   -0.032032
2020-10-25    0.025747
2020-11-01   -0.063278
2020-11-08    0.040512
2020-11-15    0.007477
2020-11-22    0.018182
2020-11-29    0.028216
2020-12-06    0.032473
2020-12-13    0.055425
2020-12-20    0.013235
2020-12-27   -0.005287
2021-01-03    0.000768
Freq: W-SUN, Name: Open, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863334985461156
0.05225856620903383
0.09901840613238377

In [ ]:
#ejemplo propio

print(weekly_return.mean())
print(weekly_return.std())
print(weekly_return.max())

0.003884812731169461
0.08717635573629277
0.3328709342619438


Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825762
2017-03-31    1.578682
2017-04-30   -0.002369
2017-05-31    2.305447
2017-06-30   -2.077168
2017-07-31    1.119381
2017-08-31    3.782173
2017-09-30   -2.357323
2017-10-31    3.559845
2017-11-30    0.817856
2017-12-31   -0.627369
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
#ejemplo propio
print(my_last_q_day.diff())
print(my_last_q_day.pct_change())

Date
2020-03-31         NaN
2020-06-30    2.422811
2020-09-30   -1.211191
2020-12-31    3.176894
Freq: Q-DEC, Name: Open, dtype: float64
Date
2020-03-31         NaN
2020-06-30    0.283456
2020-09-30   -0.110407
2020-12-31    0.325534
Freq: Q-DEC, Name: Open, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
#ejemplo propio
daily_quarter_return = my_last_q_day.pct_change()
print(daily_quarter_return.fillna(0))

Date
2020-03-31    0.000000
2020-06-30    0.283456
2020-09-30   -0.110407
2020-12-31    0.325534
Freq: Q-DEC, Name: Open, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
#ejemplo propio
daily_quarter_return = my_last_q_day.pct_change()
print(daily_quarter_return.fillna(method = 'bfill'))

Date
2020-03-31    0.283456
2020-06-30    0.283456
2020-09-30   -0.110407
2020-12-31    0.325534
Freq: Q-DEC, Name: Open, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by .**_dropna()_**

In [ ]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.107000
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [ ]:
#ejemplo propio
daily_quarter_return = my_last_q_day.pct_change()
daily_quarter_return.dropna()

Date
2020-06-30    0.283456
2020-09-30   -0.110407
2020-12-31    0.325534
Freq: Q-DEC, Name: Open, dtype: float64

#**DataFrame**
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

##**Create DataFrames**
The most common method of creating a DataFrame is passing a dictionary:

In [ ]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

In [ ]:
#ejemplo propio
mydict = {'ALG': [917.5, 182.58, 131.32, 125.95, 196.42, 197.15],'GEMG':[854.47, 943.41, 974.45, 956.98, 852.67, 996.99],
        'M&S':[545.58, 195.67, 152.36, 152.94, 181.12, 153.49]}
my_data_index = pd.date_range('2021-09-08',periods = 6, freq = 'W')
mydataframe = pd.DataFrame(mydict, index = my_data_index)
print(mydataframe)

               ALG    GEMG     M&S
2021-09-12  917.50  854.47  545.58
2021-09-19  182.58  943.41  195.67
2021-09-26  131.32  974.45  152.36
2021-10-03  125.95  956.98  152.94
2021-10-10  196.42  852.67  181.12
2021-10-17  197.15  996.99  153.49


##**Manipulating DataFrames**
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [ ]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906765
2017-12-26    40.843609
2017-12-27    40.850784
2017-12-28    40.965725
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [ ]:
#ejemplo propio
mydataframe = tabla_ec
print(mydataframe.Open.head(6))
print(mydataframe['Volume'].head(6))

Date
2018-12-31    13.339983
2019-01-02    12.845910
2019-01-03    13.636428
2019-01-04    13.899932
2019-01-07    14.394006
2019-01-08    14.846909
Name: Open, dtype: float64
Date
2018-12-31     560500
2019-01-02    1087400
2019-01-03    1099200
2019-01-04    1240100
2019-01-07     586500
2019-01-08     760000
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852382  22.440245  21.750946  ...  257666000        0.0             0
2016-02-29  22.450755  22.768302  22.402081  ...  140865200        0.0             0
2016-03-31  25.431516  25.473238  25.236815  ...  103553600        0.0             0
2016-04-30  21.785529  21.954734  21.442488  ...  274126000        0.0             0
2016-05-31  23.226403  23.412961  23.044510  ...  169228800        0.0             0
2016-06-30  22.023108  22.333258  21.990461  ...  143345600        0.0             0
2016-07-31  24.296776  24.380727  24.177845  ...  110934800        0.0             0
2016-08-31  24.773056  24.986413  24.768365  ...  118649600        0.0             0
2016-09-30  26.367386  26.580745  26.212643  ...  145516400        0.0             0
2016-10-31  26.646396  26.782384  26.540888  ...  105677600        0.0             0
2016-11-30  26.300088  26.441486  25.986654  ...  144649200        0.0             0
2016-12-31  27.490193  27.619807  27.202683  ...  122345200        0.0             0

[12 rows x 7 columns]

In [ ]:
#ejemplo propio
ec_2020 = mydataframe['2020']
ec_quarter = ec_2020.resample('Q').agg(lambda x: x[-1])
print(ec_quarter)

                 Open       High        Low  ...   Volume  Dividends  Stock Splits
Date                                         ...
2020-03-31   8.547403   8.919818   8.538319  ...  2501300        0.0             0
2020-06-30  10.970214  11.129058  10.781585  ...   863400        0.0             0
2020-09-30   9.759022   9.898012   9.729239  ...   964900        0.0             0
2020-12-31  12.935916  13.015339  12.727433  ...   602100        0.0             0

[4 rows x 7 columns]

We may select certain columns of a DataFrame using their names:

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245
2016-02-29  22.450755  22.768302  22.402081  22.411352
2016-03-31  25.431516  25.473238  25.236815  25.262312
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226403  23.412961  23.044510  23.287035
2016-06-30  22.023108  22.333258  21.990461  22.293615
2016-07-31  24.296776  24.380727  24.177845  24.301439
2016-08-31  24.773056  24.986413  24.768365  24.876217
2016-09-30  26.367386  26.580745  26.212643  26.505718
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [ ]:
#ejemplo propio
ec_bar = ec_quarter[['Open', 'Close', 'Volume']]
print(ec_bar)

                 Open      Close   Volume
Date
2020-03-31   8.547403   8.638236  2501300
2020-06-30  10.970214  11.049636   863400
2020-09-30   9.759022   9.768950   964900
2020-12-31  12.935916  12.816783   602100

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431516  25.473238  25.236815  25.262312
2016-04-30  21.785529  21.954734  21.442488  21.727583
2016-05-31  23.226403  23.412961  23.044510  23.287035
2016-06-30  22.023108  22.333258  21.990461  22.293615

In [ ]:
#ejemplo propio
print(ec_quarter.loc['2020-09':'2020-12',['Open', 'High', 'Low', 'Close','Volume']])

                 Open       High        Low      Close  Volume
Date
2020-09-30   9.759022   9.898012   9.729239   9.768950  964900
2020-12-31  12.935916  13.015339  12.727433  12.816783  602100

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431516  25.473238  25.236815  25.262312
2016-08-31  24.773056  24.986413  24.768365  24.876217
2016-09-30  26.367386  26.580745  26.212643  26.505718
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490193  27.619807  27.202683  27.294592

In [ ]:
#ejemplo propio
below = ec_bar[ec_bar.Close < np.mean(ec_bar.Close)]
print(below)

                Open     Close   Volume
Date
2020-03-31  8.547403  8.638236  2501300
2020-09-30  9.759022  9.768950   964900

##**Data Validation**
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431516  25.473238  25.236815  25.262312     0.127211
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
#ejemplo propio
ec_bar['rate_return'] = ec_bar.Close.pct_change()
print(ec_bar)

                 Open      Close   Volume  rate_return
Date
2020-03-31   8.547403   8.638236  2501300          NaN
2020-06-30  10.970214  11.049636   863400     0.279154
2020-09-30   9.759022   9.768950   964900    -0.115903
2020-12-31  12.935916  12.816783   602100     0.311992

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

In [ ]:
#ejemplo propio
mymissing = ec_bar.isnull()
print(mymissing)
print('********************************************')
print(mymissing.describe())

             Open  Close  Volume  rate_return
Date
2020-03-31  False  False   False         True
2020-06-30  False  False   False        False
2020-09-30  False  False   False        False
2020-12-31  False  False   False        False
********************************************
         Open  Close Volume rate_return
count       4      4      4           4
unique      1      1      1           2
top     False  False  False       False
freq        4      4      4           3

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

In [ ]:
#ejemplo propio
print(mymissing[mymissing.rate_return == True])

             Open  Close  Volume  rate_return
Date
2020-03-31  False  False   False         True


Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431516  25.473238  25.236815  25.262312     0.127211
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245     0.000000
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431516  25.473238  25.236815  25.262312     0.127211
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

In [ ]:
#ejemplo propio
mydrop = ec_bar.dropna()
print(mydrop)
print('\n--------------------------------------------------\n')
myfill = ec_bar.fillna(0)
print(myfill)

                 Open      Close  Volume  rate_return
Date
2020-06-30  10.970214  11.049636  863400     0.279154
2020-09-30   9.759022   9.768950  964900    -0.115903
2020-12-31  12.935916  12.816783  602100     0.311992

--------------------------------------------------

                 Open      Close   Volume  rate_return
Date
2020-03-31   8.547403   8.638236  2501300     0.000000
2020-06-30  10.970214  11.049636   863400     0.279154
2020-09-30   9.759022   9.768950   964900    -0.115903
2020-12-31  12.935916  12.816783   602100     0.311992

##**DataFrame Concat**
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **_concat()_** allows us to merge multiple Series into a DataFrame:

In [ ]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

In [ ]:
#ejemplo propio
mys1 = pd.Series([917.5, 182.58, 131.32, 125.95, 196.42, 197.15], name = 'ALG')
mys2 = pd.Series([854.47, 943.41, 974.45, 956.98, 852.67, 996.99], name = 'GEMG')
my_data_frame = pd.concat([mys1,mys2], axis = 1)
print(my_data_frame)

      ALG    GEMG
0  917.50  854.47
1  182.58  943.41
2  131.32  974.45
3  125.95  956.98
4  196.42  852.67
5  197.15  996.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104300
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277360
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN   3.110856
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288   3.109568
2016-03-31  25.431516  25.473238  25.236815  25.262312     0.127211   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773   3.147897
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660   3.104300
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090063   3.190536
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652   3.213912
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504   3.277360
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

In [ ]:
#ejemplo propio
mylog_price = np.log(ec_bar.Close)
mylog_price.name = 'log_price'
print(mylog_price)
print('\n---------------------- separador --------------------\n')
myconcat = pd.concat([ec_bar, mylog_price], axis = 1)
print(myconcat)

Date
2020-03-31    2.156198
2020-06-30    2.402397
2020-09-30    2.279209
2020-12-31    2.550755
Freq: Q-DEC, Name: log_price, dtype: float64

---------------------- separador --------------------

                 Open      Close   Volume  rate_return  log_price
Date
2020-03-31   8.547403   8.638236  2501300          NaN   2.156198
2020-06-30  10.970214  11.049636   863400     0.279154   2.402397
2020-09-30   9.759022   9.768950   964900    -0.115903   2.279209
2020-12-31  12.935916  12.816783   602100     0.311992   2.550755

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646396  26.782384  26.540888  26.620605
2016-11-30  26.300088  26.441486  25.986654  26.045570
2016-12-31  27.490193  27.619807  27.202683  27.294592
2017-01-31  28.550682  28.607241  28.425781  28.597815
2017-02-28  32.444877  32.530084  32.354935  32.423576
2017-03-31  34.016459  34.146637  33.848410  34.002258
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [ ]:
#ejemplo propio
mydf_volume = tabla_ec.loc['2020-03':'2020-12',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(mydf_volume)
print('\n---------------------- separate line--------------------\n')
mydf_2020 = tabla_ec.loc['2020-03':'2020-12',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(mydf_2020)

             Volume  Stock Splits
Date
2020-03-31  2501300             0
2020-04-30  1861000             0
2020-05-31  2431800             0
2020-06-30   863400             0
2020-07-31  1085800             0
2020-08-31  1233700             0
2020-09-30   964900             0
2020-10-31   957100             0
2020-11-30  1535300             0
2020-12-31   602100             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2020-03-31   8.547403   8.919818   8.538319   8.638236
2020-04-30  10.632668  10.741873  10.037000  10.374545
2020-05-31  10.444040  10.493679  10.175990  10.334834
2020-06-30  10.970214  11.129058  10.781585  11.049636
2020-07-31  11.585737  11.665159  11.387181  11.555954
2020-08-31  11.575808  11.575808  11.268047  11.307758
2020-09-30   9.759022   9.898012   9.729239   9.768950
2020-10-31   8.964799   9.193138   8.875448   9.183210
2020-11-30  11.923282  11.972921  11.436820  11.436820
2020-12-31  12.935916  13.015339  12.727433  12.816783

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852382  22.440245  ...          NaN           NaN
2016-02-29  22.450755  22.768302  ...          NaN           NaN
2016-03-31  25.431516  25.473238  ...          NaN           NaN
2016-04-30  21.785529  21.954734  ...          NaN           NaN
2016-05-31  23.226403  23.412961  ...          NaN           NaN
2016-06-30  22.023108  22.333258  ...          NaN           NaN
2016-07-31  24.296776  24.380727  ...          NaN           NaN
2016-08-31  24.773056  24.986413  ...          NaN           NaN
2016-09-30  26.367386  26.580745  ...          NaN           NaN
2016-10-31  26.646396  26.782384  ...  105677600.0           0.0
2016-11-30  26.300088  26.441486  ...  144649200.0           0.0
2016-12-31  27.490193  27.619807  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

In [ ]:
#ejemplo propio
myconcat = pd.concat([ec_bar, mydf_volume], axis = 1)
print(myconcat)

                 Open      Close     Volume  rate_return   Volume  Stock Splits
Date
2020-03-31   8.547403   8.638236  2501300.0          NaN  2501300             0
2020-04-30        NaN        NaN        NaN          NaN  1861000             0
2020-05-31        NaN        NaN        NaN          NaN  2431800             0
2020-06-30  10.970214  11.049636   863400.0     0.279154   863400             0
2020-07-31        NaN        NaN        NaN          NaN  1085800             0
2020-08-31        NaN        NaN        NaN          NaN  1233700             0
2020-09-30   9.759022   9.768950   964900.0    -0.115903   964900             0
2020-10-31        NaN        NaN        NaN          NaN   957100             0
2020-11-30        NaN        NaN        NaN          NaN  1535300             0
2020-12-31  12.935916  12.816783   602100.0     0.311992   602100             0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646396  26.782384  ...  105677600             0
2016-11-30  26.300088  26.441486  ...  144649200             0
2016-12-31  27.490193  27.619807  ...  122345200             0

[3 rows x 7 columns]

In [ ]:
#ejemplo propio
myconcat = pd.concat([ec_bar,mydf_volume],axis = 1, join = 'inner')
print(myconcat)

                 Open      Close   Volume  rate_return   Volume  Stock Splits
Date
2020-03-31   8.547403   8.638236  2501300          NaN  2501300             0
2020-06-30  10.970214  11.049636   863400     0.279154   863400             0
2020-09-30   9.759022   9.768950   964900    -0.115903   964900             0
2020-12-31  12.935916  12.816783   602100     0.311992   602100             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431516  25.473238  25.236815  25.262312     0.127211
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550682  28.607241  28.425781  28.597815          NaN
2017-02-28  32.444877  32.530084  32.354935  32.423576          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [ ]:
#ejemplo propio
myappend = ec_bar.append(mydf_2020)
print(myappend)

                 Open      Close     Volume  rate_return       High        Low
Date
2020-03-31   8.547403   8.638236  2501300.0          NaN        NaN        NaN
2020-06-30  10.970214  11.049636   863400.0     0.279154        NaN        NaN
2020-09-30   9.759022   9.768950   964900.0    -0.115903        NaN        NaN
2020-12-31  12.935916  12.816783   602100.0     0.311992        NaN        NaN
2020-03-31   8.547403   8.638236        NaN          NaN   8.919818   8.538319
2020-04-30  10.632668  10.374545        NaN          NaN  10.741873  10.037000
2020-05-31  10.444040  10.334834        NaN          NaN  10.493679  10.175990
2020-06-30  10.970214  11.049636        NaN          NaN  11.129058  10.781585
2020-07-31  11.585737  11.555954        NaN          NaN  11.665159  11.387181
2020-08-31  11.575808  11.307758        NaN          NaN  11.575808  11.268047
2020-09-30   9.759022   9.768950        NaN          NaN   9.898012   9.729239
2020-10-31   8.964799   9.183210        NaN          NaN   9.193138   8.875448
2020-11-30  11.923282  11.436820        NaN          NaN  11.972921  11.436820
2020-12-31  12.935916  12.816783        NaN          NaN  13.015339  12.727433

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431516  25.473238  25.236815  25.262312     0.127211
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955
2016-10-31  26.646396  26.782384  26.540888  26.620605          NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570          NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592          NaN
2017-01-31  28.550682  28.607241  28.425781  28.597815          NaN
2017-02-28  32.444877  32.530084  32.354935  32.423576          NaN
2017-03-31  34.016459  34.146637  33.848410  34.002258          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [ ]:
#ejemplo propio
myconcat = pd.concat([ec_bar, mydf_2020], axis = 0)
print(myconcat)

                 Open      Close     Volume  rate_return       High        Low
Date
2020-03-31   8.547403   8.638236  2501300.0          NaN        NaN        NaN
2020-06-30  10.970214  11.049636   863400.0     0.279154        NaN        NaN
2020-09-30   9.759022   9.768950   964900.0    -0.115903        NaN        NaN
2020-12-31  12.935916  12.816783   602100.0     0.311992        NaN        NaN
2020-03-31   8.547403   8.638236        NaN          NaN   8.919818   8.538319
2020-04-30  10.632668  10.374545        NaN          NaN  10.741873  10.037000
2020-05-31  10.444040  10.334834        NaN          NaN  10.493679  10.175990
2020-06-30  10.970214  11.049636        NaN          NaN  11.129058  10.781585
2020-07-31  11.585737  11.555954        NaN          NaN  11.665159  11.387181
2020-08-31  11.575808  11.307758        NaN          NaN  11.575808  11.268047
2020-09-30   9.759022   9.768950        NaN          NaN   9.898012   9.729239
2020-10-31   8.964799   9.183210        NaN          NaN   9.193138   8.875448
2020-11-30  11.923282  11.436820        NaN          NaN  11.972921  11.436820
2020-12-31  12.935916  12.816783        NaN          NaN  13.015339  12.727433

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852382  22.440245  21.750946  22.440245          NaN        NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288        NaN
2016-03-31  25.431516  25.473238  25.236815  25.262312     0.127211        NaN
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921        NaN
2016-05-31  23.226403  23.412961  23.044510  23.287035     0.071773        NaN
2016-06-30  22.023108  22.333258  21.990461  22.293615    -0.042660        NaN
2016-07-31  24.296776  24.380727  24.177845  24.301439     0.090063        NaN
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652        NaN
2016-09-30  26.367386  26.580745  26.212643  26.505718     0.065504        NaN
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334        NaN
2016-11-30  26.300088  26.441486  25.986654  26.045570    -0.021601        NaN
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955        NaN
2016-10-31        NaN  26.782384  26.540888  26.620605          NaN  26.646396
2016-11-30        NaN  26.441486  25.986654  26.045570          NaN  26.300088
2016-12-31        NaN  27.619807  27.202683  27.294592          NaN  27.490193
2017-01-31        NaN  28.607241  28.425781  28.597815          NaN  28.550682
2017-02-28        NaN  32.530084  32.354935  32.423576          NaN  32.444877
2017-03-31        NaN  34.146637  33.848410  34.002258          NaN  34.016459
2017-04-30        NaN  34.153737  33.909951  33.999889          NaN  34.104032

In [ ]:
#ejemplo propio
mydf_2020.columns = ['Abierto', 'Alto','Bajo','Cierre']
myconcat = pd.concat([ec_bar, mydf_2020], axis = 0)
print(myconcat)

                 Open      Close     Volume  ...       Alto       Bajo     Cierre
Date                                         ...
2020-03-31   8.547403   8.638236  2501300.0  ...        NaN        NaN        NaN
2020-06-30  10.970214  11.049636   863400.0  ...        NaN        NaN        NaN
2020-09-30   9.759022   9.768950   964900.0  ...        NaN        NaN        NaN
2020-12-31  12.935916  12.816783   602100.0  ...        NaN        NaN        NaN
2020-03-31        NaN        NaN        NaN  ...   8.919818   8.538319   8.638236
2020-04-30        NaN        NaN        NaN  ...  10.741873  10.037000  10.374545
2020-05-31        NaN        NaN        NaN  ...  10.493679  10.175990  10.334834
2020-06-30        NaN        NaN        NaN  ...  11.129058  10.781585  11.049636
2020-07-31        NaN        NaN        NaN  ...  11.665159  11.387181  11.555954
2020-08-31        NaN        NaN        NaN  ...  11.575808  11.268047  11.307758
2020-09-30        NaN        NaN        NaN  ...   9.898012   9.729239   9.768950
2020-10-31        NaN        NaN        NaN  ...   9.193138   8.875448   9.183210
2020-11-30        NaN        NaN        NaN  ...  11.972921  11.436820  11.436820
2020-12-31        NaN        NaN        NaN  ...  13.015339  12.727433  12.816783

[14 rows x 8 columns]

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

##**Summary**
Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the Pandas official documentations for help.